<div style="padding:10px;">
	<div class="box" style="margin:20px;">
		<a href="#" class="btn">Click Me!</a>
		<a href="#" class="btn btn-red">Click Me!</a>
		<a href="#" class="btn btn-green">Click Me!</a>
		<a href="#" class="btn btn-blue">Click Me!</a>
		<a href="#" class="btn btn-orange">Click Me!</a>
		<a href="#" class="btn btn-purple">Click Me!</a>
	</div>
	<div class="box box-inline" style="margin:20px;">
		<a href="#" class="btn btn-rounded">Click Me!</a>
		<a href="#" class="btn btn-red btn-rounded">Click Me!</a>
		<a href="#" class="btn btn-green btn-rounded">Click Me!</a>
		<a href="#" class="btn btn-blue btn-rounded">Click Me!</a>
	</div>
	<div class="box" style="margin:20px;">
		<a href="#" class="btn btn-tall">Click Me!</a>
		<a href="#" class="btn btn-red btn-tall">Click Me!</a>
		<a href="#" class="btn btn-green btn-tall">Click Me!</a>
		<a href="#" class="btn btn-blue btn-tall">Click Me!</a>
	</div>
	<div class="box" style="margin:20px;">
		<a href="#" class="btn btn-wide">Click Me!</a>
		<a href="#" class="btn btn-red btn-wide">Click Me!</a>
		<a href="#" class="btn btn-green btn-wide">Click Me!</a>
		<a href="#" class="btn btn-blue btn-wide">Click Me!</a>
	</div>
	<div class="box" style="margin:20px;">
		<a href="#" class="btn btn-tall btn-wide">Click Me!</a>
		<a href="#" class="btn btn-red btn-tall btn-wide">Click Me!</a>
		<a href="#" class="btn btn-green btn-tall btn-wide">Click Me!</a>
		<a href="#" class="btn btn-blue btn-tall btn-wide">Click Me!</a>
	</div>
	<div style="margin:20px;">
		<a href="#" class="btn btn-bold">Click Me!</a>
		<a href="#" class="btn btn-red btn-bold">Click Me!</a>
		<a href="#" class="btn btn-green btn-bold">Click Me!</a>
		<a href="#" class="btn btn-blue btn-bold">Click Me!</a>
	</div>
	<div style="margin:20px; width:300px;">
		<a href="#" class="btn btn-block">Click Me!</a>
		<a href="#" class="btn btn-red btn-block">Click Me!</a>
		<a href="#" class="btn btn-green btn-block">Click Me!</a>
		<a href="#" class="btn btn-blue btn-block">Click Me!</a>
		<a href="#" class="btn btn-orange btn-block">Click Me!</a>
		<a href="#" class="btn btn-purple btn-block">Click Me!</a>
	</div>
	<div style="margin:20px;">
		<a href="#" class="btn btn-underline">Click Me!</a>
		<a href="#" class="btn btn-red btn-underline">Click Me!</a>
		<a href="#" class="btn btn-green btn-underline">Click Me!</a>
		<a href="#" class="btn btn-blue btn-underline">Click Me!</a>
	</div>
	<div style="margin:20px;">
		<a href="#" class="btn btn-hover-underline">Click Me!</a>
		<a href="#" class="btn btn-red btn-hover-underline">Click Me!</a>
		<a href="#" class="btn btn-green btn-hover-underline">Click Me!</a>
		<a href="#" class="btn btn-blue btn-hover-underline">Click Me!</a>
	</div>
</div>

<div class="modal-wrapper">
	<div class="overlay"></div>
	<div class="modal box box-border">
		<div class="modal-header">
			<p class="title">This is a Modal Title</p>
		</div>
		<div class="modal-body">
			<p>Would you like to delete everything?</p>
		</div>
		<div class="modal-footer">
			<div class="buttons">
				<a class="btn btn-blue">Yes</a>
				<a class="btn">No</a>
			</div>
		</div>
	</div>
</div>